.home-product-item_name {
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 1.8rem;
   height: 3.6rem;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.home-product {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.home-product-item{
    background-color: white;
    margin-top: 29px;
    
}

.home-product-item_img {
    padding-top: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.home-product-item_price {
    padding-left: 70%;
    background: var(--primary);
    color: transparent;
    -webkit-background-clip: text;
}

